.mat-elevation-z4 {
  margin: 5px 100px;
}

table {
  width: 100%;
}

.btn-new-supplier {
  color: #244879;
  width: fit-content;
  margin-left: 80px;
  cursor: pointer !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
