/* You can add global styles to this file, and also import other style files */
:root {
  --default-color: #25497a;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-default {
  background-color: transparent;
  border: none;
  color: #25497a;
}

