/* You can add global styles to this file, and also import other style files */
:root {
  --default-color: #25497a;
  --white-color-default: #fff;
  --success-color-default: #198754;
  --warning-color-default: #ffbf05;
  --error-color-default: #dc0000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-default {
  background-color: transparent;
  border: none;
  color: var(--default-color);
}

.button-save {
  background-color: var(--success-color-default) !important;
  color: var(--white-color-default) !important;
}

.button-edit {
  background-color: var(--warning-color-default);
  color: var(--white-color-default);
}

.button-cancel {
  background-color: var();
}

.button-delete {
  background-color: var(--error-color-default);
  color: var(--main-color-default);
}

