<app-header></app-header>
<app-navbar></app-navbar>

<mat-card-content style="margin: 50px 0">
  <mat-card-title style="font-size: larger; padding: 0 100px"
    >Novo Fornecedor</mat-card-title
  >
  <form style="padding: 0 100px">
    <mat-form-field>
      <mat-label>Código do Fornecedor</mat-label>
      <input
        matInput
        placeholder="Ex: 999"
        [(ngModel)]="supplier.code"
        type="number"
        name="code"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Razão Social</mat-label>
      <input
        matInput
        placeholder="Ex: Empresa Ltda"
        [(ngModel)]="supplier.name"
        type="text"
        name="name"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome Fantasia</mat-label>
      <input
        matInput
        placeholder="Ex: Casa Machado"
        [(ngModel)]="supplier.shortname"
        type="text"
        name="shortname"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input
        matInput
        placeholder="Ex: (21) 91234-5678"
        type="tel"
        [(ngModel)]="supplier.telephone"
        name="telephone"
        disabled
      />
    </mat-form-field>
  </form>
  <div style="margin: 5px 100px">
    <button mat-raised-button class="button-delete" (click)="deleteSupplier()">
      Excluir
    </button>

    <button mat-raised-button class="button-default" (click)="cancel()">
      Cancelar
    </button>
  </div>
</mat-card-content>
