.mat-elevation-z4 {
  margin: 5px 100px;
}

table {
  width: 100%;
}

.edit {
  margin-right: 10px;
}

.edit {
  color: #ffbf05;
}

.delete {
  color: #dc0000;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 240px;
}

tr,
td,
th {
  text-align: center;
}

th {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--default-color);
}

