.mat-elevation-z4 {
  margin: 5px 100px;
}

table {
  width: 100%;
}

.information {
  margin-right: 10px;
  cursor: pointer;
}

.edit {
  margin-right: 10px;
  color: #ffbf05;
}

.delete {
  color: #dc0000;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 240px;
}

tr,
td,
th {
  text-align: center;
}

th {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--default-color);
}

.btn-new-supplier {
  color: #244879;
  width: fit-content;
  margin-left: 100px;
  cursor: pointer !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mdc-list-item {
  padding: 0;
}

mat-paginator {
  color: var(--default-color);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
